# Example environment variables
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_DISCORD_INVITE=https://discord.gg/onr
NEXT_PUBLIC_TELEGRAM_URL=https://t.me/onrdeveloper
NEXT_PUBLIC_TWITTER_URL=https://twitter.com/onrdeveloper
